# Rename this file to .env after filling-in the fields
# If you use local database then run the container by 'docker compose --profile local up'
# Or if you use external database then run the container by 'docker compose --profile external up'

#================= FILL FOR BOTH LOCAL AND EXTERNAL DATABASE DATABASE ===================
DATABASE_URL=Your_database_url_here

#================= ONLY FILL IF YOU USE LOCAL DATABASE ===================
POSTGRES_USER=Your_postgres_username
POSTGRES_PASSWORD=Your_postgres_password
POSTGRES_HOST=Your_host
POSTGRES_PORT=Your_postgres_port
POSTGRES_DB=Your_postgres_database